<form action="/add/courseOffering" method="POST">
  <input type="name" name="course_name" placeholder="course title" />
  <input type="name" name="instructor_name" placeholder="instructor" />
  <input type="date" name="start_date" placeholder="date" />
  <input type="number" name="min_employees" placeholder="min employee" />
  <input type="number" name="max_employees" placeholder="max employee" />

  <button type="submit">Add Course</button>
</form>
